@page
@using  ITAcademy.Offers.Domain.Entities
@using  ITAcademy.Offers.Web.Areas.Identity.Pages.Account
@using  ITAcademy.Offers.Web.Models
@using Microsoft.AspNetCore.Mvc.Rendering

@model RegisterModel
@{
    ViewData["Title"] = "Register as";
}

<h1>@ViewData["Title"]</h1>
<div class="d-flex justify-content-center gap-5 flex-wrap">
    <div class="border rounded p-4 text-center" style="width: 300px;">
        <h4>Buyer</h4>
        <p>For individual customers who want to buy discounted products.</p>
        <a class="btn btn-primary mt-3" asp-page="/Account/Register/RegisterBuyer">Register as Buyer</a>
    </div>

    <div class="border rounded p-4 text-center" style="width: 300px;">
        <h4>Company</h4>
        <p>For companies who want to post products and offers.</p>
        <a class="btn btn-secondary mt-3" asp-page="/Account/Register/RegisterCompany">Register as Company</a>
    </div>
</div>
  @section Scripts {
      <partial name="_ValidationScriptsPartial" />
  }
